body {
  font-family: sans-serif;
  text-align: center;
  background-color: #b5e877;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.map {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}

.cell {
  padding: 1rem;
}
